
/* pagination bullets */
.swiper-pagination-bullet {
  background: #b35209 !important;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
  opacity: 1 !important;
  width: 11px !important;
  height: 11px !important;
  border-radius: 4px !important;
}
.swiper-pagination{
    width: fit-content !important;
    left: 15px !important;
    
}

.swiper-pagination-bullet-active {
  background: #fff!important; /* رنگ بولت فعال (مثلاً زرد Tailwind amber-500) */
  width: 14px !important;
  height: 14px !important;
  border-radius: 4px !important;
}
